@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


:root {
    /*** COLORS ***/
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
    
    /***TYPOGRAPHY***/
    --font-size: 15px;
    --font-primary: 'Josefin Sans';
    --font-secondary: 'Alata';
    
    font-size: var(--font-size);
}


.page-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}


.header-container {
    height: 43.33rem;
    background: url('../images/desktop/image-hero.jpg') center/cover no-repeat;
}

.header-container:before {
	height: 650px;
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}


.navbar {
    display: flex;
    padding: 4rem 2.66rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.navbar__hamburguer-button {
    display: none;
}

.navbar__logo {
    width: fit-content;
    padding-left: 1rem;
    z-index: 2;
}


.navbar-container {
    display: flex;
    width: 40%;
    margin: 0;
    justify-content: center;
    gap: 2rem;
    z-index: 2;
    list-style: none;
}

.navbar-container__link {    
    padding-bottom: 0.5rem;
    font-size: 1rem;
    text-decoration: none;    
    font-family: var(--font-secondary);
    color: var(--white);
}

.navbar-container__link:hover {
    border-bottom: 2px solid white;
}


.header-description__title {
    width: 30rem;
    border: 1px solid;
    padding: 2rem 10rem 2rem 3rem;
    position: relative;
    left: 10%;
    top: 2rem;
    z-index: 2;
    font-size: 4rem;    
    font-weight: 300;
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: var(--white);
}


.about-container {
    box-sizing: border-box;
    display: flex;
    margin: 7rem 1rem 7rem 6.5rem;
    justify-content: center;
    overflow: hidden;
}


.about-item {
    width: 40%;
    padding: 3.5rem;
    position: relative;
    right: 10rem;
    top: 11rem;
    background-color: var(--white);
}

.about-item__title {
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: var(--black);
}

.about-item__text {
    text-align: justify;
    font-family: var(--font-secondary);
    color: var(--dark-gray);
}


.about-item-img-container {
    width: 55%;
}


.projects-container{
    display: grid;
    grid-template-columns: 65% 35%;
    row-gap: 4.5rem;
    margin: 7rem 11rem 7rem 6.5rem;
    justify-content: center;
    align-items: center;
}

.projects-container__title{
    grid-column: 1 / span 1;
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: var(--font-primary);
}

.projects-container__link {
    grid-column: 2 / span 1;
    justify-self: end;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    color: var(--black);
}

.projects-container__link--button{
    width: 6.66rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--black);
    border-radius: 2px;
    box-shadow: 0px 0px 1px black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.7px;
}

.projects-container__link--button:hover {
    color: var(--white);
    background-color: var(--black);
}


.gallery-projects {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.33rem;
}


.gallery-item {
    height: 30rem;
}

.gallery-item__img {
    width: 100%;
    filter: brightness(0.6);
}

.gallery-item__description {
    width: 60%;
    position: relative;
    bottom: 8rem;
    left: 15%;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--font-primary);    
    color: var(--white);
}

.gallery-item:hover {
    cursor:pointer;
}

.gallery-item:hover  .gallery-item__img {
    filter: opacity(0.3);
}

.gallery-item:hover .gallery-item__description{
    color: var(--black);
}


.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 6%;
    align-items: center;
    background-color: var(--black);
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-start;
}

.footer-navbar-container {
    width: 100%;
    padding: 0;
    justify-content: start;
}

.footer-navbar__logo {
    margin-bottom: 20px;
}

.social-networks {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}

.social-item__link-icon:hover {
    border-bottom: 2px solid white;

}

.about-contact__rights {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: right;
    font-family: var(--font-secondary);
    color: var(--very-dark-gray);
}


.attribution { 
    grid-column: 1 / span 3;
    font-size: 0.8rem; 
    text-align: center;
    font-family: var(--font-secondary);
    color: var(--white); 
}

.attribution__description-link { 
    color: hsl(228, 45%, 44%); 
}


/************************************************/
/*          MEDIA QUERY MOBILE          */
/************************************************/

@media only screen and (max-width:767px) {
    
    .header-container {
        display: flex;
        flex-direction: column;
        height: 120vh;
        background: url('../images/mobile/image-hero.jpg') center/cover no-repeat;
    }

    .header-container::before {
        height: 120vh;
    }


    .navbar {
        height: 3%;
        padding: 2rem 1rem;
    }


    .navbar-container {
        display: none;
    }

    .navbar__logo {
        width: fit-content;
    }

    .navbar__hamburguer-button {
        display: inline-block;
        width: 15%;
        z-index: 2;
    }

    
    .header-description {
        height: 80%;
        display: flex;
        align-self: center;
        justify-self: center;
        justify-content: center;
        flex-direction: column;        
    }

    .header-description__title {
        width: 80vw;
        padding: 2rem 1rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 2rem;
        font-size: 3rem;
    }


    .about-container {
        margin: 5rem 1.5rem 3rem 1.5rem;
        flex-direction: column;
    }


    .about-item-img-container {
        width: 100%;
    }

    .about-item-img-container__img {
        width: 100%;
    }

    .about-item {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1.2rem;
        margin-top: 1.3rem;
        top: 0;
        left: 0;
    }

    .about-item__title {
        font-size: 2.4rem;
        text-align: center;
    }

    .about-item__text {
        text-align: center;
    }

    .projects-container {
        margin: 0rem 11rem 7rem 6.5rem;
    }

}


/************************************************/
/*          MEDIA QUERY TABLETS/MINI PORTATILS  1169 */
/************************************************/

@media only screen and (min-width:768px) and (max-width:1169px) {
    
    .header-container::before {
        height: 650px;
    }

    .navbar-container {
        width: 60%;
    }

    .about-container {
        margin-bottom: 3rem;
    }

    .about-item-img-container {
        width: 70%;
    }
    
    .about-item-img-container__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-item {
        right: 7rem;
        padding: 1rem 0 2rem 1.5rem;
        top: 5rem;
    }

    .about-item__title {
        font-size: 1.5rem;
    }

    .about-item__text {
        font-size: 0.8rem;
    }

}

@media only screen and (min-width:900px) and (max-width:1169px) {

    .about-item__title {
        font-size: 2rem;
    }

    .about-item__text {
        font-size: 1rem;
    }
}